# Игнорировать файлы и директории, созданные Django
__pycache__/
*.pyc
*.pyo
*.db.sqlite3

# Игнорировать файлы с настройками и окружения
.env
*.ini
*.conf
*.log

# Игнорировать файлы миграции базы данных
*/migrations/*.py
*/migrations/*.pyc

# Игнорировать виртуальное окружение Python (если используется)
venv/
env/
*.env

# Игнорировать файлы, созданные средой разработки (например, VSCode или PyCharm)
.vscode/
.idea/
__pycache__/
*.pyc

# Игнорировать файлы настроек и кэша для пакетного менеджера pip
pip-selfcheck.json
